﻿<!--<select>
    <option value="0">Please Select</option>
    <option *ngFor="let op of data" value="{{op.EmployeeId}}">
        {{op.FirstName}} {{op.LastName}}
    </option>

</select>-->




    <lp-select
        [label]="options.label"
        (onSelected)="selected($event)"
        [placeholder]="options.placeholder"
        [load]="loadData"
        [multiSelect]="options.multiSelect"
        [showAddon]="options.showAddon"
        [showDropdownArrow]="options.showDropdownArrow"
        [showClearSelection]="options.showClearSelection"
        [showButtonRight]="options.showButtonRight"
    ></lp-select>




<!--(data)="refreshValue($event)"
              
               (removed)="removed($event)"
               (typed)="typed($event)"-->
