﻿<div class="sidebar sidebar-default">
    <div class="sidebar-content">
        <!-- Sidebar search -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>Search</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>
            <div class="category-content ">
                <form action="#">
                    <div class="has-feedback has-feedback-left">
                        <input name="search" [(ngModel)]="manager.search" id="txtSearch" type="search" class="form-control border-grey-300 border-lg" placeholder="Search" />
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base text-muted"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /sidebar search -->
        <!-- Form sample -->
        <div class="sidebar-category">
            
            <div class="category-title">
                <span>Filters</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>
            <form action="#" class="category-content">
                <div class="form-group" *ngFor="let item of manager?.config?.filters">
                    <filter [options]="item"></filter>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button id="btnReset" class="btn btn-warning btn-block">Reset</button>
                    </div>
                    <div class="col-xs-6">
                        <button id="btnApply" class="btn bg-primary btn-block" (click)="onApply()">Apply</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /form sample -->
    </div>
</div>

