﻿<div [ngSwitch]="options?.type">
    <text-filter *ngSwitchCase="'text'" [options]="options"></text-filter>
    <select-filter *ngSwitchCase="'select'" [options]="options"></select-filter>
    <date-filter *ngSwitchCase="'date'" [options]="options"></date-filter>
</div>