<span *ngIf="cellConfig.link == false" #dataContainer>{{getData()}}</span>
<span *ngIf="cellConfig.link == true"><a [routerLink]="cellConfig.linkUrl + cellData[cellConfig.columnName]" #dataContainer>{{getData()}}</a></span>