<section (click)="onSortClicked(column.sorterColumn, sortDir)" >{{column.alias}}
    <i [ngClass]="{glyphicon: true, 'glyphicon-chevron-up': isAsc()}"></i>
    <i [ngClass]="{glyphicon: true, 'glyphicon-chevron-down': isDesc()}"></i>
</section>