﻿<!-- Table with togglable columns -->
<div class="alert alert-info" role="alert" *ngIf="dataManager.currData.length <= 0 && dataManager.loading == false">No Results</div>
<div class="panel panel-flat" infinite-scroll
    scrollWindow="true" 
    (scrolled)="dataManager.onScroll()"
    [ngClass]="{hide: dataManager.currData.length <= 0}"
    >

    <!--height: 400px;
    width: 800px;
    overflow: scroll;-->

               
    <div *ngIf="dataManager.currData.length > 0">
        
        <table class="table datatable-sorting table-togglable table-hover" >
            <thead>
                
                <tr class="bg-slate-800" role="row">
                    <th [column-header]="col" *ngFor="let col of dataManager.config?.columns"></th>
                </tr>
                
            </thead>
            <tbody *ngFor="let page of dataManager.currData">
                <tr *ngFor="let item of page.index" (contextmenu)="onContextMenu($event, item)"> 
                    <td *ngFor="let col of dataManager.config?.columns" table-cell [cell-data]="item" [cell-config]="col"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td *ngFor="let col of dataManager.config?.columns" style="background-color: #d0e5d4;">
                        <span *ngIf="col.summary">{{dataManager.findSummary(col.columnName)}}</span></td>
                </tr>
            </tfoot>
        </table>
        <div style="display: flex;">
            <paging style="padding: 15px;display: block;"></paging>
            <div style="float: right;padding-left: 35%;padding-top: 20px;">
                <span>Showing {{dataManager.numPage * dataManager.itemsPerPage}} - {{dataManager.numPage * dataManager.itemsPerPage + dataManager.itemsPerPage}} of {{dataManager.summaryData.Record_Count}}</span>
            </div>
        </div>
    </div>
    
</div>

<div [ngClass]="{hide: dataManager.loading == false}">
    <loading-spinner></loading-spinner>
</div>
<!-- /table with togglable columns -->
<context-menu></context-menu>
<!-- /footer -->
