<ul class="pagination" *ngIf="dataManager.infiniteScroll === false">
    <li><input type="number" (ngModelChange)="dataManager.getPageData()" [(ngModel)]="dataManager.currentPage" /></li>
    <li [ngClass]="{'disabled': currentPage == 0}"><a ><i class="glyphicon glyphicon-chevron-left"></i></a></li>
    <li *ngFor="let n of counter(totalPages)" [ngClass]="{'active': currentPage == i}">
        <a (click)="setCurrentPage(n)">{{n}}</a></li>
    
    <li [ngClass]="{'disabled': currentPage == totalPages}"><a ><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    <li>
        <select (ngModelChange)="dataManager.getPageData()" [(ngModel)]="dataManager.itemsPerPage">
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </li>
</ul>









